.button {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: var(--glass-bg);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  border: 1px solid rgba(209, 168, 168, 0.1);
  cursor: pointer;
  font-size: 1rem;
  color: #34346b;
}
.button:hover {
  background: rgba(255, 255, 255, 0.6);
}
