/* components/SearchBar.module.scss */

.searchForm {
  width: 100%;
  max-width: 500px; /* adjust as you like */
}

.searchForm.small {
  max-width: 300px; /* shrink it for the navbar */
  .input {
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
    color: white;
  }
  .inputGroup {
    padding: 0.25rem 0.75rem;
    color: white; 
  }
}

.inputGroup {
  display: flex;
  align-items: center;
  border: 2px solid #524873;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  background: transparent;
  backdrop-filter: blur(8px);
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  color: #524873;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
  color: #524873;
}

.input::placeholder {
  color: #524873;
}
