/* styles/Home.module.scss */

.results {
  margin-top: 2rem;
  font-size: 1.8rem;
  width: 65%; /* same width as the grid container */
  padding-left: 3rem;
}

/* “Try searching” placeholder text */
.noResults {
  grid-column: 1 / -1;
  text-align: center;
  font-style: italic;
  // color: #34346b
  // color: pink;
}

.errorMessage {
  color: #ea4f41;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}
